.gradle/
build/
.idea/
.settings/
.mcreator/
run/
.DS_STORE
.classpath
.project
Textures/test_texture.png
elements/TestBlock.mod.json
src/main/java/net/besser/teaw/block/TestBlockBlock.java
src/main/java/net/besser/teaw/procedures/DeleteDevProcedure.java
